


<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>My Profile</title>
  <meta name="description" content="My Profile">
  <meta name="author" content="Kai">

  <link rel="stylesheet" href="profile.css">

</head>

<body>
  <div class="main">
	<h1>WELCOME</h1>
	<div class="createinput">
		<h2>Create Profile</h2>
		
		<button><a href="/dashbord/new">Create New</a></button>
		
	</div>
	<h3>Already have a profile?</h3>
	<button><a href="dashbord">See Profiles</a></button>
  </div>
  
</body>
</html>